* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

header {
    width: 74%;
    height: 55px;
    position: fixed;
    margin: 0 13%;
    border: 1% solid #000;
}

#follow {
    border-radius: 10px;
    border: solid 1px green;
    color: green;
    padding: 0 5px;
}

.perfil-coder {
    position: absolute;
    width: 100%;
    height: 75px;
    margin-top: 17px;
}

.imagen {
    width: 100px;
    height: 100%;
}

#perfil {
    width: 65px;
    height: 65px;
    position: absolute;
    border-radius: 35px;
}

.contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
}

.descripcion {
    position: absolute;
    left: 82px;
    display: inline-block;
    top: 0px;
}

#nombre {
    display: inline-block;
    font-size: 18px;
}
.mi-perfil{
  width: 35px;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  top: -6px;
  left: 68px;
}

article {
    position: absolute;
    top: 10%;
    width: 52%;
    margin: 0 23%;
}

header div {
    position: absolute;
    display: inline-block;
    background: #fff;
    height: 100%;
    top: 0;
}

.following >span {
    position: absolute;
    height: 90%;
    top: auto;
    left: 20px;
}

#down{
    padding-left: 70px;
}

.cabeza {
    position: absolute;
    left: 0%;
    width: 18%;
    top: 25%;
}

.descripcion p {
    position: relative;
    font-family: 'Raleway', serif;
    font-size: 14px;
    padding: 1.6px 9.5px;
}

.following {
    position: absolute;
    background-color: green;
    color: #fff;
    border-radius: 8px;
    left: 18%;
    height: 35%;
    top: 40%;
    width: 12%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #333;
    line-height: 40px;
    width: 610px;
    margin-top: 17px;
    margin-bottom: -42px;
}

.contenido p {
    font-family: 'Raleway', serif;
    font-size: 24.5px;
    color: #595959;
    line-height: 37px;
    width: 655px;
    margin-top: 51px;
}

.redes {
    left: 30%;
    width: 60%;
    position: absolute;
    top: 33%;
}

.perfil {
    position: absolute;
    left: 85%;
    top: 33%;
    width: 15%;
}

.icon-medium, .icon-chevron-small-down, .icon-facebook, .icon-twitter, .icon-search, .icon-bell-o {
    font-size: 20px;
    color: #4d4d59;
}

.icon-medium {
    font-size: 30px;
}



.icon-twitter {
    left: 3%;
}

.icon-facebook {
    left: 10%;
    border-radius: 8px;
}

.icon-search {
    left: 2%;
}

.icon-bell-o {
    left: 20%;
}

footer {
  position: absolute;
      bottom: 0;
      left: 0;
      height: 8%;
      width: 100%;
      padding-left: 25%;
      background-color: #fff;
}

footer li {
    display: inline-block;
}

.icon-heart-outlined, .icon-bubble, .icon-twitter2, .icon-facebook, .icon-bookmark {
    font-size: 30px;
    position: absolute;
    top: 15%;

}

.icon-bubble {

      left: 30%;

}

.icon-twitter2 {

    left: 560px;
}

.icon-facebook {

    left: 605px;
}

.icon-bookmark {

    left: 655px;

}
